* {
  font-family: "Poppins", sans-serif;
  /* border: solid rgb(154, 180, 94); */
  margin: 0;
}
body {
  padding-top: 70px;
}
:root {
  --primary-color: #783653;
  --secondary-color: #b47b84;
  --third-color: rgba(120, 54, 83, 0.815);
  --white-color: #fff;
  --black-color: #000;
}
/* btn style  */
.btn-color {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 0;
  padding: 10px 30px;
  border-radius: 4px;
  transition: all 0.5s ease;
}
.btn-color:hover {
  /* border:1px solid var(--black-color); */
  background-color: var(--third-color);
  /* color: var(--primary-color); */
}
/* navbar  */
.toggle-nav-logo,
.nav-logo {
  font-family: "Tangerine", cursive;
}
.about-title,
.nav-logo {
  position: relative;
}

.nav-logo::after {
  content: "";
  width: 120%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  position: absolute;
  bottom: 10px;
  left: 0;
}
.primary-underline {
  display: inline-block;
  position: relative;
  color: var(--primary-color);
}
.primary-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.primary-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* banner section styles  */
.banner {
  height: 90vh;
  padding-top: 10px;
}
.name {
  color: var(--primary-color);
}
.banner-image {
  background-color: var(--primary-color);
}

/* about styles  */
.skill-btn {
  margin: 4px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
}

.tools-image {
  border-radius: 15px;
}
/* footer styles  */
.contact-left {
  background-color: var(--primary-color);
  color: #fff;
  padding: 40px;
}
.fa-brands {
  color: #000;
  background-color: white;
}
.contact-inputs {
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  margin-bottom: 15px;
}
.contact-form textarea {
  height: 140px;
  padding-top: 15px;
}
.contact-inputs {
  border-bottom: 2px solid var(--secondary-color);
}
.contact-inputs:focus {
  border: 1px solid rgba(128, 128, 128, 0.274);
  border-bottom: 2px solid var(--secondary-color);
}
/* social media styles  */
.social-media ul li {
  list-style: none;
  margin-right: 15px;
}
.social-media ul li .fa {
  font-size: 20px;
  line-height: 40px;
  color: var(--black-color);
  transition: 0.6s;
}
.social-media ul li .fa:hover {
  color: var(--white-color);
}
.social-media ul li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.social-media ul li a:hover {
  transform: translate(0, -10px);
}
.social-media ul li:nth-child(1) a:hover {
  background-color: #3b5998;
}
.social-media ul li:nth-child(2) a:hover {
  background-color: #1da1f2;
}
.social-media ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.social-media ul li:nth-child(4) a:hover {
  background-color: #0a66c2;
}



/* Adjustments for small screens */
@media (max-width: 576px) {
  .about-section {
    margin-top: 400px;
  }
}

/* Adjustments for medium screens */
@media (min-width: 576px) and (max-width: 992px) {
  .about-section {
    margin-top: 300px;
  }
  .image {
    align-items: center;
    margin-top: 20px;
  }
  .about-section p{
    text-align: justify;
  }

  /* footer  */
  .contact-left{
    width: 80%;
    margin: auto;
  }
  .contact-right{
    width: 80%;
    margin: auto;
  }
}




